{% extends 'base.html' %}

{% block title %}Articles{% endblock %}
{% block content %}
    <form method="GET">
        <input type="text" name="q">
        <input type="submit">
    </form>
    {% for article in object_list %}
            <h2><a href="{% url 'article-detail' article.id %}">{{ article.title}}</a></h2>
            <p>
                {{ article.body }}
                <br>
                <span>author: {{ article.author}}</span>
            </p>
    {% empty %}
        <p>No articles here.</p>
    {% endfor %}
{% endblock %}